.faktur h3{
    color: #E3261A;
    font-size: 25px;
    font-weight: 500;
}

.faktur .nav{
    margin-bottom: 10px;
}

.faktur .nav-tabs{
    border-bottom: none;
}

.faktur .nav .nav-link{ 
    margin-left: -10px;
  border: none;
  color: #2d2c2c;
  font-weight: 700;
  font-size: 16px;
  outline: none;
  text-transform: capitalize;
}

.faktur .nav .nav-link.active::after{
    content: "";
    display: block;
    border-bottom: 4px solid #E3261A;
    width: 75%;

}

.faktur .faktur__tambahdata{
    width: 382.83px;
}

 .faktur .faktur__tambahdata  form label{
    font-size: 13px;
    color: #A5A5A5;
    margin-bottom: 0;
}

.faktur  .table thead{
    background-color: #E3261A;
    color: #ffff;
}

.faktur__tablebutton button{
    margin-right: 20px;
    width: 95.16px;
    height: 37.11px;
}

.faktur__tablebutton{
    margin-top: -50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}

.faktur__tablebutton input{
    padding-left: 10px;
    width: 275.45px;
    height: 37.11px;
    border-radius: 2vh;
}

.faktur__tablebutton input:focus{
outline: none;
}

.faktur__tablebutton .faktur__search img{
    height: 25px;
    margin-left: 10px;
    padding-right: 7px;
    cursor: pointer;
    border-right: 0.5px solid #000000;
    
}

.faktur__search{
    align-items: center;
    display: flex;
    border: 0.5px solid #000000;
    border-radius: 2vh;
    
}

.faktur__search input{
    border: none;
}