.home main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 30px;
  padding-bottom: 100px;
}

.home .home__content {
  flex: .92;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .home main {
    margin: 0 60px;
  }
}

@media (min-width: 992px) {
  .home main {
    flex-direction: row;
  }
  .home .home__content {
    margin-top: 0;
  }
}