.pembayaran h2 {
  font-size: 25px;
  font-weight: 500;
  color: #E3261A;
  text-transform: capitalize;
  margin-bottom: 45px;
}

.pembayaran .nav {
  margin-bottom: 10px;
}
.pembayaran .nav-tabs {
  border-bottom: none;
}
.pembayaran .nav .nav-link {
  padding-left: 0;
  border: none;
  color: #2d2c2c;
  font-weight: 700;
  font-size: 16px;
  outline: none;
  text-transform: capitalize;
}
.pembayaran .nav .nav-link.active::after {
  content: "";
  display: block;
  border-bottom: 4px solid #E3261A;
  width: 75%;
}

.pembayaran .pembayaran__tambahdata {
  width: 40%;
}

.pembayaran .pembayaran__tambahdata form label{
  font-size: 13px;
  color: #A5A5A5;
  margin-bottom: 0;
}

.pembayaran .pembayaran__tablehead{
  background-color: #E3261A;
  color: white;
}

.pembayaran .pembayaran__button{
  margin-top: -50px;
  text-align: right;
  margin-bottom: 20px;
}

.pembayaran .pembayaran__search{
  display: inline-block;
  border: 1px solid black;
  border-radius: 7px;
}

.pembayaran .pembayaran__search img{
  padding: 0 5px;
}

.pembayaran input#searchbox{
  border: none;
  border-radius: 7px;
}

.pembayaran input#searchbox:focus{
  outline: none;
}

.pembayaran__button .btn-red{
  background-color: #E3261A;
  color: white;
  margin-right: 20px;
}

.pembayaran__button .btn-red:hover{
  background-color: #bb1c11;
}

.pembayaran table{
  border-bottom: 1px solid #dee2e6;
}

.pembayaran select{
  border: none;
}

.pembayaran select option.complete{
  color: #1F800F !important;
}
.pembayaran select option.cancel{
  color: #E3261A;
}
.pembayaran select option.waiting{
  color: #FFB118;
}

.pembayaran a.active{
  font-weight: bold;
}

.pagination{
  justify-content: center;
  margin-top: 30px;
}

ul.pagination li a{
  text-decoration: none;
  letter-spacing: 15px;
  color: black;
}