header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 40px 40px;
}

header img {
  object-fit: contain;

}

header p {
  display: flex;
  flex-direction: row;
  margin: auto;
  cursor: pointer;
  color: #3C0400;
  font-weight: 500;
  text-decoration: none;
}
header p span:nth-child(1) {
  margin-right: 4px;
}
header a{
  text-decoration: none !important;
}

@media (min-width: 768px) {
  header {
    padding: 35px 10px 35px 40px;
    margin: 0 60px;
  }
  header p {
    margin: unset;
  }
}


@media (min-width: 992px) {
}